*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}

header img {
    width: 180px;
}

header{
    background-color: #080808;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav ul{
    display: flex;
    gap: 25px;
}



/*Também podemos utilizar a margem no item para resolver o problema do espaçamento,no entanto se apenas aplicarmos a margem na esquerda
ele vai colocar uma margem desnecessária no primeiro item,pois não existe li antes dele,logo podemos escrever o código colocando um + li, pois isso
vai garantir que o css ponha margem apenas se essa li antecede de outra li.

ex:  

nav ul{
display: flex;
}

nav ul li + li {
    margin-left: 25px;
}

*/

header a {
    color: #f0ebeb;
    transition: 0.2s;
  
    
}

header a:hover{
    color: #f13239;
}

section h1{
    color: rgb(255, 246, 246);
}
.sectionImg{
    background-image: url(../Images/banner.jpg);
    background-size: cover; /*faz com que a imagem de fundo se adappte ao tamanho da tela*/
    background-position: center 25%; /*com essa propriedade mostramos aonde queremos que a imagem seja distribuida na tela, primeiro horizontalmente e depois verticalmente.
    
    Geralmente se usa muito center,left right, no entanto podemos utilizar porcentagem para ter um valor
    mais exato doque queremos fazer com a imagem, no caso dessa horizontalmente que a imagem priorize mostrar o centro e 25% da parte de cima*/
    height: 320px;
}

