button {
    background-color: purple;
    color: #fff;
    border: 0;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover:not(:disabled),
button:focus {
    background-color: blueviolet;
    outline: 2px solid blueviolet; /*borda que aparece fora de um botão ou elemento qualquer por exemplo input text*/
    outline-offset: 2px; /*espaçamento entre a borda e o input*/
 }

 button:disabled {
    background-color: #ddd; 
 }