button {
    background-color: purple;
    color: #fff;
    border: 0;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover:not(:disabled),
button:focus {
    background-color: blueviolet;
    outline: 2px solid blueviolet; /*borda que aparece fora de um botão ou elemento qualquer por exemplo input text*/
    outline-offset: 2px; /*espaçamento entre a borda e o input*/
 }

 button:disabled {
    background-color: #ddd; 
 }

 p{
    margin: auto;
    width: 400px;
    height: 100px;
    margin-top: 5px;
    padding: 10px;
    text-align: justify;
    border: 1px solid rgba(0, 0, 0, 0.548);
    border-radius: 8px;
 }

 p:first-child{
    background-color: rgb(29, 133, 230);
    color: white;
 }

 p:last-child{
    background-color: rgb(158, 12, 146);
    color: white;
 }

 p:nth-child(2){
    background-color: rgb(45, 7, 214);
    color: white;
 }