

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(33, 13, 46);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(17, 15, 15) 50%, rgb(22, 15, 4) 100%);
}

header{
    text-align: center;
    color: white;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
}

#flexContainer{
color: white;
text-align: center;
background: linear-gradient(90deg, #311c86 0%, #1e0f57 50%, #1e0f57 100%);
height: 50%;
display: flex;
justify-content: center;
align-content: center;
flex-wrap: wrap;
flex-grow: 1;
flex-shrink: 1;
flex-basis:100vw;
gap: 10px;
}


.flexCard{
    display: flex;
    flex-direction: column;
}

.cardImg{
    min-height: 150px;
}



.item{
width: 250px;
border: 1px solid #00000059;
border-radius: 7px;
background: linear-gradient(90deg, #543fa7 0%, #5e46bd 50%, #6e55d3 100%);
}

.button{
    color: white;
    width: 185px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.432);
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    background: linear-gradient(90deg, #2f77a3 0%, #2b8ab6 50%, #0c7ca8 100%);
}

.button:hover{
    color: rgb(19, 17, 17);
    border: 1px solid rgba(0, 0, 0, 0.432);
    margin: auto;
    margin-bottom: 10px;
    border-radius: 15px;
    background: linear-gradient(90deg, #3d9cd6 0%, #2b8ab6 50%, #078abe 100%);
   cursor: pointer;
}